.p-container {
    display: flex;
    margin: 0 auto;

    @include pc {

        max-width: 1920px;
        width: 100vw;

    }

    &__main {

        @include pc {
            width: 80vw;
        }
    }



}