.p-header {

    &__inner {
        &__menu {
            font-size: 2rem;
            font-weight: bold;
            color: #707070;
            text-align: right;
            padding: 14px 16px 0 0;
            cursor: pointer;

        }

        &__title {
            font-size: 4rem;
            font-weight: bold;
            color: #707070;
            text-align: center;

            @include pc {
                font-size: 6.4rem;
            }

        }

    }

    &__search {
        display: flex;
        height: 134px;
        justify-content: center;
        align-items: center;

        @include pc {
            justify-content: flex-end;
        }

    
    }

}

