.p-main__branchmenu {
    position: relative;
    height: auto;
    img {
        max-width:100%;
        height: auto;
    }
    h2 {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__description {
        position: absolute;
        top: 297px;
        left: 29px;
        dd {
            overflow-wrap: normal;
        }
    }
}