.l-header {
    height: 217px;
    background: #FFF7EF;

    @include pc {
        display: flex;
        align-items: center;
        justify-content:space-between;

        h1 {
            padding-left: 65px;
        }


        h2 {
            display: none;
        }
      }

      
}